

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    
}
.navitem{
    list-style: none;
    margin-right: 30px ;
    
    
}
.navitem>a{
    text-decoration: none;
    
}
.nav-link{
    font-weight: 200px;
    color: rgb(72, 70, 70);
    font-size: x-small;
}