

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    display: flex;
    
}
.navitem{
    list-style: none;
    margin-right: 30px ;
    
    
}
.navitem>a{
    text-decoration: none;
    
}
.nav-link{
    font-weight: 200px;
    color: rgb(72, 70, 70);
    font-size: x-small;
}
.header{
    background-color:  rgba(255, 144, 14, 0.1);
    
/* width: 1420px; */
/* height: 922px; */
}
.brand{
    font-weight: 700px;
    font-size: 2rem;
}
 .banner-cmnts{ 
    color: var( rgba(114, 114, 114, 1));
    font-size: 1.25rem;



} 

.btn{
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px ;
    font-size: 1.25rem;
    font-weight: 600px;

}
/* .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
 .banner-content{
    /* max-width: 850px; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

 }
 .banner-title{
    font-size: 4rem;
    font-weight: 700px;
 }
.img-one{
    /* width: 100%; */
    /* height: auto; */
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}
.banner-image{
    width: 100%;
}
.main{
    margin-top: 130px;
}
.first-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}
.group-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.notes{
    margin-left: 30px;
    max-width: 576px;

}
.notes-heading{
    font-family: Work Sans;
font-style: SemiBold;
font-size: 45px;
font-weight: 600;
line-height: 53px;
letter-spacing: 0%;
text-align: left;
}
.notes-para{
    color: var(--Dark 03, rgba(114, 114, 114, 1));

font-family: Work Sans;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.notes-heading-one{
    color: rgba(114, 114, 114, 1);
}
.notes-heading-two{
    color: rgba(255, 144, 14, 1);
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* media qury min device */
@media screen and (max-width:576px) {
    .nav , .navlinks {
        flex-direction: column;
    }
    .group-img{
        grid-template-columns: repeat(1,1fr);
    }
    .notes{
        margin-left: 15px;
    }
    .first-container{
        flex-direction: column;
    }
    
}
/* media query headline
 */
 @media screen and (min-width:577px) and (max-width:992px) {
        .group-img{
            grid-template-columns: repeat(2,1fr);
        }
        .first-container{
            flex-direction: column;
        }
    
 }